<main class="main">
    <div class="container">
        <h1 class="main-header" id="main-title">
            Доходы
        </h1>
        <div class="category" id="categoryTable">
            <div class="category-item" id="categoryItem">
                <div class="category-item-name" id="categoryItemName">Депозиты</div>
                <div class="category-item-action">
                    <button class="btn edit-category">Редактировать</button>
                    <button class="btn delete-category">Удалить</button>
                </div>
            </div>
            <div class="category-item add-category-item">+</div>
        </div>
    </div>
</main>

<div class="popup" id="popup">
    <div class="popup-item">
        <div class="popup-text">
            Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
        </div>
        <div class="popup-action">
            <button class="btn action-agree" id="agree">Да, удалить</button>
            <button class="btn action-disagree" id="disagree">Не удалять</button>
        </div>
    </div>
</div>