<section class="main">
    <div class="container">
        <div class="logo">
            <img src="../images/logo.png" alt="Логотип">
        </div>
        <div class="form">
            <h1 class="form-title">Создайте аккаунт</h1>
            <div class="form-details">
                <div class="form-group">
                    <input type="text" class="form-input" id="name" placeholder="Имя и фамилия" required>
                    <div class="form-group-image">
                        <img src="../images/person.png" alt="ФИО">
                    </div>
                </div> <div class="form-group">
                    <input type="text" class="form-input" id="email" placeholder="Электронная почта" required>
                    <div class="form-group-image">
                        <img src="../images/mail.png" alt="Электронная почта">
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" id="password" placeholder="Пароль" required>
                    <div class="form-group-image">
                        <img src="../images/lock.png" alt="Пароль">
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" id="passwordConfirmation" placeholder="Подтверждение пароля" required>
                    <div class="form-group-image">
                        <img src="../images/lock.png" alt="Подтверждение пароля">
                    </div>
                </div>
                <div class="form-button">
                    <button class="btn" id="process" disabled>Войти</button>
                </div>
                <div class="form-link">Уже есть аккаунт? <a href="/#/login">Войдите в систему</a></div>
            </div>
        </div>
    </div>
</section>